{% extends "SlbBundle::layout.html.twig" %}

{% block body %}
    <!--begin loader -->
    <div id="loader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--end loader -->

    <!--begin header -->
    <header class="header">

        <!--begin nav -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="alert-warning alert text-center">
                Bienvenue cher visiteur .Le site web est en developpement !Merci de revenir prochainement. Mail: slbburkina@gmail.com
            </div>
            <!--begin container -->
            <div class="container">

                <!--begin navbar -->

                <div class="navbar-header">
                    <button data-target="#navbar-collapse-02" data-toggle="collapse" class="navbar-toggle" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a href="index.php" class="navbar-brand brand scrool">
                        <span style="color:#3cae43">SLB BURKINA</span>
                    </a>
                </div>

                <div id="navbar-collapse-02" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#home_wrapper">Accueil</a></li>
                        <li><a href="#services">Services</a></li>
                        <li><a href="#produits">Nos Produits</a></li>

                        <li><a href="#contact">Contact</a></li>

                        <li><a href="#" class="purchase">Nous Contacter</a></li>
                    </ul>
                </div>
                <!--end navbar -->

            </div>
            <!--end container -->

        </nav>
        <!--end nav -->

    </header>
    <!--end header -->

    <!--begin home_wrapper -->
    <section id="home_wrapper" class="home-wrapper">

        <!--begin container-->
        <div class="container-fluid">

            <!--begin row-->
            <div class="row">

                <!--begin col-md-12-->
                <div class="col-md-12" style="padding: 0;">

                    <!--begin layerslider -->
                    <div id="layerslider" class="layerslider editContent" style="height:525px; margin:0 auto;">

                        <!-- begin slide -->
                        <div class="ls-slide" data-ls="slidedelay:8000;transition2d:21,105;timeshift:-1000;">


                            <img class="ls-l" style="width:100%;height:100%;white-space: nowrap;" data-ls="durationin:1500; delayin:50; scalexin:0.8; scaleyin:0.8; scalexout:0.8; scaleyout:0.8;" src="{{ asset('bundles/slb/img/affiche.png') }}" alt="">


                            <img class="ls-l" style="top:55px;left:75px;white-space: nowrap;" data-ls="offsetxin:0;durationin:2000;delayin:2500;easingin:linear;scalexin:0;scaleyin:0;offsetxout:0;durationout:2000;easingout:linear;scalexout:0;scaleyout:0;" src="{{ asset('bundles/slb/images/ls6a.png') }}" alt="">

                            <h1 class="ls-l" style="top:120px;left:700px;font-weight: 700;font-size:36px;line-height:42px;color:#ffffff;white-space: nowrap;" data-ls="offsetxin:0;offsetyin: top;delayin:3500;offsetxout:-50;durationout:3000;">Vous voulez des produits <br>de tres haute qualité?</h1>

                            <p class="ls-l"  style="top:225px;left:700px;font-weight: 400;font-size:19px; line-height:32px;color:#ffffff;white-space: nowrap;" data-ls="offsetxin:50;delayin:4500;skewxin:-60;offsetxout:-50;durationout:1000;skewxout:-60;">
                                Chez nous à SLB nous misons beaucoup sur la qualité des produits<br>
                                ce qui nous a permis d'avoir une tres bonne reputation <br>
                                parmis nos conccurents .
                            </p>

                            <a href="#" class="ls-l" style="top:350px; left:700px;" data-ls="offsetxin:0;durationin:4000;delayin:5500;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% top 0;offsetxout:0;durationout:1000;rotatexout:90;transformoriginout:50% bottom 0;">
                                <span style="background-color: #fff; border: 1px solid #fff; color:#228798; display:inline-block;font-weight:700; font-size:14px; line-height:15px; vertical-align:top; padding:16px 30px;margin:0 0 20px 0;-webkit-border-radius: 5px 5px;-moz-border-radius: 5px 5px;border-radius: 5px 5px;white-space: nowrap;">
                                   VOIR NOS PRODUITS
                                </span>
                            </a>

                        </div>

                        <!-- end slide -->

                        <!-- begin slide -->
                        <div class="ls-slide" data-ls="slidedelay:8000;transition2d:21,105;timeshift:-1000;">


                            <img class="ls-l" style="width:100%;height:100%;white-space: nowrap;" data-ls="durationin:1500; delayin:50; scalexin:0.8; scaleyin:0.8; scalexout:0.8; scaleyout:0.8;" src="{{ asset('bundles/slb/img/manguiers.png') }}" alt="">


                            <img class="ls-l" style="top:55px;left:75px;white-space: nowrap;" data-ls="offsetxin:0;durationin:2000;delayin:100;easingin:linear;scalexin:0;scaleyin:0;offsetxout:0;durationout:2000;easingout:linear;scalexout:0;scaleyout:0;" src="{{ asset('bundles/slb/images/ls6a.png') }}" alt="">

                            <h1 class="ls-l" style="top:120px;left:700px;font-weight: 700;font-size:36px;line-height:42px;color:#ffffff;white-space: nowrap;" data-ls="offsetxin:0;offsetyin: top;delayin:1000;offsetxout:-50;durationout:3000;">Des produits bio <br>uniques</h1>

                            <p class="ls-l"  style="top:225px;left:700px;font-weight: 400;font-size:19px; line-height:32px;color:#ffffff;white-space: nowrap;" data-ls="offsetxin:50;delayin:2000;skewxin:-60;offsetxout:-50;durationout:1000;skewxout:-60;">
                                Chez nous à SLB nous misons beaucoup sur la qualité des produits<br>
                                ce qui nous a permis d'avoir une tres bonne reputation <br>
                                parmis nos conccurents .
                            </p>

                            <a href="#" class="ls-l" style="top:350px; left:700px;" data-ls="offsetxin:0;durationin:4000;delayin:5500;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% top 0;offsetxout:0;durationout:1000;rotatexout:90;transformoriginout:50% bottom 0;">
                                <span style="background-color: #fff; border: 1px solid #fff; color:#228798; display:inline-block;font-weight:700; font-size:14px; line-height:15px; vertical-align:top; padding:16px 30px;margin:0 0 20px 0;-webkit-border-radius: 5px 5px;-moz-border-radius: 5px 5px;border-radius: 5px 5px;white-space: nowrap;">
                                   VOIR NOS PRODUITS
                                </span>
                            </a>

                        </div>

                        <!-- end slide -->
                        <!--begin ls-slide -->
                        <div class="ls-slide" data-ls="slidedelay:8000;transition2d:21,105;timeshift:-1000;">

                            <img class="ls-l" style="top:180px;left:1px;white-space: nowrap;" data-ls="offsetxin:0; offsetyin:100; durationin:2000; delayin:500; offsetxout:-100; offsetyout:50; durationout:2000;" src="images/ls2a.png" alt="">

                            <img class="ls-l" style="top:150px;left:50px;white-space: nowrap;" data-ls="durationin:1500; delayin:50; scalexin:0.8; scaleyin:0.8; scalexout:0.8; scaleyout:0.8;" src="images/ls1a.png" alt="">

                            <img class="ls-l" style="top:340px;left:120px;white-space: nowrap;" data-ls="durationin:1500; delayin:1000; offsetxin: left;
                                offsetxout: right;" src="images/ls3a.png" alt="">

                            <img class="ls-l" style="top:245px;left:415px;white-space: nowrap;" data-ls="durationin:1500;delayin:1500;scalexin:0.8;scaleyin:0.8;scalexout:0.8;scaleyout:0.8;" src="images/ls4a.png" alt="">

                            <img class="ls-l" style="top:215px;left:215px;white-space: nowrap;" data-ls="offsetxin:0; durationin:1500; delayin:2000; rotateyin:90; transformoriginin:right 50% 0; offsetxout:0; durationout:1500; rotateyout:-90; transformoriginout:right 50% 0;" src="images/ls5a.png" alt="">

                            <img class="ls-l" style="top:55px;left:75px;white-space: nowrap;" data-ls="offsetxin:0;durationin:2000;delayin:2500;easingin:linear;scalexin:0;scaleyin:0;offsetxout:0;durationout:2000;easingout:linear;scalexout:0;scaleyout:0;" src="images/ls6a.png" alt="">

                            <h1 class="ls-l" style="top:120px;left:590px;font-weight: 700;font-size:36px;line-height:42px;color:#ffffff;white-space: nowrap;" data-ls="offsetxin:0;offsetyin: top;delayin:3500;offsetxout:-50;durationout:3000;">Ready To Promote Your New<br>Business With Spectrum?</h1>

                            <p class="ls-l" style="top:225px;left:590px;font-weight: 400;font-size:19px; line-height:32px;color:#ffffff;white-space: nowrap;" data-ls="offsetxin:50;delayin:4500;skewxin:-60;offsetxout:-50;durationout:1000;skewxout:-60;">
                                Design and style should always work toward making you look<br>
                                good and feel good - without a lot of efforts - so you always<br>
                                can get on with the things that truly matter.
                            </p>

                            <a href="#" class="ls-l" style="top:350px; left:590px;" data-ls="offsetxin:0;durationin:4000;delayin:5500;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% top 0;offsetxout:0;durationout:1000;rotatexout:90;transformoriginout:50% bottom 0;">
                                <span style="background-color: #fff; border: 1px solid #fff; color:#228798; display:inline-block;font-weight:700; font-size:14px; line-height:15px; vertical-align:top; padding:16px 30px;margin:0 0 20px 0;-webkit-border-radius: 5px 5px;-moz-border-radius: 5px 5px;border-radius: 5px 5px;white-space: nowrap;">
                                    DISCOVER MORE
                                </span>
                            </a>

                        </div>
                        <!--end ls-slide -->

                        <!-- begin slide2 -->
                        <div class="ls-slide" data-ls="slidedelay:8000;transition2d:21,105;timeshift:-1000;">


                            <img class="ls-l" style="width:100%;height:100%;white-space: nowrap;" data-ls="durationin:1500; delayin:50; scalexin:0.8; scaleyin:0.8; scalexout:0.8; scaleyout:0.8;" src="img/anacarde2.jpg" alt="">


                            <img class="ls-l" style="top:55px;left:75px;white-space: nowrap;" data-ls="offsetxin:0;durationin:2000;delayin:2500;easingin:linear;scalexin:0;scaleyin:0;offsetxout:0;durationout:2000;easingout:linear;scalexout:0;scaleyout:0;" src="images/ls6a.png" alt="">

                            <h1 class="ls-l" style="top:120px;left:700px;font-weight: 700;font-size:36px;line-height:42px;color:#ffffff;white-space: nowrap;" data-ls="offsetxin:0;offsetyin: top;delayin:3500;offsetxout:-50;durationout:3000;">Vous voulez des produits <br>de tres haute qualité?</h1>

                            <p class="ls-l"  style="top:225px;left:700px;font-weight: 400;font-size:19px; line-height:32px;color:#ffffff;white-space: nowrap;" data-ls="offsetxin:50;delayin:4500;skewxin:-60;offsetxout:-50;durationout:1000;skewxout:-60;">
                                Chez nous à SLB nous misons beaucoup sur la qualité des produits<br>
                                ce qui nous a permis d'avoir une tres bonne reputation <br>
                                parmis nos conccurents .
                            </p>

                            <a href="#" class="ls-l" style="top:350px; left:700px;" data-ls="offsetxin:0;durationin:4000;delayin:5500;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% top 0;offsetxout:0;durationout:1000;rotatexout:90;transformoriginout:50% bottom 0;">
                                <span style="background-color: #fff; border: 1px solid #fff; color:#228798; display:inline-block;font-weight:700; font-size:14px; line-height:15px; vertical-align:top; padding:16px 30px;margin:0 0 20px 0;-webkit-border-radius: 5px 5px;-moz-border-radius: 5px 5px;border-radius: 5px 5px;white-space: nowrap;">
                                   VOIR NOS PRODUITS
                                </span>
                            </a>

                        </div>

                        <!-- end slide2 -->

                        <!--begin ls-slide -->
                        <div class="ls-slide" data-ls="slidedelay:8000;transition2d:21,105;timeshift:-1000;">

                            <h1 class="ls-l" style="top:115px;left:1px;font-weight: 700;font-size:36px;line-height:42px;color:#ffffff;white-space: nowrap;" data-ls="offsetxin:0;offsetyin: top;delayin:500;offsetxout:-50;durationout:3000;">The Easiest Way To Build Your<br>Responsive Landing Pages.</h1>


                            <p class="ls-l" style="top:215px;left:0px;font-weight: 400;font-size:19px; line-height:32px;color:#ffffff;white-space: nowrap;" data-ls="offsetxin:50;delayin:1500;skewxin:-60;offsetxout:-50;durationout:1000;skewxout:-60;">
                                Design and style should always work toward making you look<br>
                                good and feel good - without a lot of efforts - so you always<br>
                                can get on with the things that truly matter.
                            </p>

                            <a href="#" class="ls-l" style="top:340px; left:0;" data-ls="offsetxin:0;durationin:2500;delayin:2500;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% top 0;offsetxout:0;durationout:1000;rotatexout:90;transformoriginout:50% bottom 0;">
                                <span style="background-color: #fff; border: 1px solid #fff; color:#228798; display:inline-block;font-weight:700; font-size:14px; line-height:15px; vertical-align:top; padding:16px 30px;margin:0 0 20px 0;-webkit-border-radius: 5px 5px;-moz-border-radius: 5px 5px;border-radius: 5px 5px;white-space: nowrap;">
                                    TRY IT FOR FREE
                                </span>
                            </a>

                            <img class="ls-l" style="top:210px;left:650px;white-space: nowrap;" data-ls="offsetxin:0;durationin:2000;delayin:3500;easingin:linear;scalexin:0;scaleyin:0;offsetxout:0;durationout:2000;easingout:linear;scalexout:0;scaleyout:0;" src="images/ls2b.png" alt="">

                            <img class="ls-l" style="top:90px;left:675px;white-space: nowrap;" data-ls="offsetxin:0;durationin:2000;delayin:3500;easingin:linear;scalexin:0;scaleyin:0;offsetxout:0;durationout:2000;easingout:linear;scalexout:0;scaleyout:0;" src="images/ls3b.png" alt="">

                            <img class="ls-l" style="top:60px;left:840px;white-space: nowrap;" data-ls="offsetxin:0;durationin:2000;delayin:3500;easingin:linear;scalexin:0;scaleyin:0;offsetxout:0;durationout:2000;easingout:linear;scalexout:0;scaleyout:0;" src="images/ls4b.png" alt="">

                            <img class="ls-l" style="top:68px;left:938px;white-space: nowrap;" data-ls="offsetxin:0;durationin:2000;delayin:3500;easingin:linear;scalexin:0;scaleyin:0;offsetxout:0;durationout:2000;easingout:linear;scalexout:0;scaleyout:0;" src="images/ls5b.png" alt="">

                            <img class="ls-l" style="top:128px;left:1015px;white-space: nowrap;" data-ls="offsetxin:0;durationin:2000;delayin:3500;easingin:linear;scalexin:0;scaleyin:0;offsetxout:0;durationout:2000;easingout:linear;scalexout:0;scaleyout:0;" src="images/ls6b.png" alt="">

                            <img class="ls-l" style="top:257px;left:1040px;white-space: nowrap;" data-ls="offsetxin:0;durationin:2000;delayin:3500;easingin:linear;scalexin:0;scaleyin:0;offsetxout:0;durationout:2000;easingout:linear;scalexout:0;scaleyout:0;" src="images/ls7b.png" alt="">

                            <img class="ls-l" style="top:369px;left:1030px;white-space: nowrap;" data-ls="offsetxin:0;durationin:2000;delayin:3500;easingin:linear;scalexin:0;scaleyin:0;offsetxout:0;durationout:2000;easingout:linear;scalexout:0;scaleyout:0;" src="images/ls8b.png" alt="">

                            <img class="ls-l" style="top:375px;left:925px;white-space: nowrap;" data-ls="offsetxin:0;durationin:2000;delayin:3500;easingin:linear;scalexin:0;scaleyin:0;offsetxout:0;durationout:2000;easingout:linear;scalexout:0;scaleyout:0;" src="images/ls9b.png" alt="">

                            <img class="ls-l" style="top:378px;left:800px;white-space: nowrap;" data-ls="offsetxin:0;durationin:2000;delayin:3500;easingin:linear;scalexin:0;scaleyin:0;offsetxout:0;durationout:2000;easingout:linear;scalexout:0;scaleyout:0;" src="images/ls10b.png" alt="">

                            <img class="ls-l" style="top:322px;left:659px;white-space: nowrap;" data-ls="offsetxin:0;durationin:2000;delayin:3500;easingin:linear;scalexin:0;scaleyin:0;offsetxout:0;durationout:2000;easingout:linear;scalexout:0;scaleyout:0;" src="images/ls11b.png" alt="">

                            <img class="ls-l" style="top:172px;left:755px;white-space: nowrap;" data-ls="durationin:2000; delayin:2000; scalexin:0.8; scaleyin:0.8; scalexout:0.8; scaleyout:0.8;" src="images/ls1b.png" alt="">


                        </div>
                        <!--end ls-slide -->


                        <div class="ls-slide" data-ls="slidedelay:8000;transition2d:21,105;timeshift:-1000;">


                            <img class="ls-l" style="width:100%;height:100%;white-space: nowrap;" data-ls="durationin:1500; delayin:50; scalexin:0.8; scaleyin:0.8; scalexout:0.8; scaleyout:0.8;" src="img/gingimbre.jpg" alt="">


                            <img class="ls-l" style="top:55px;left:75px;white-space: nowrap;" data-ls="offsetxin:0;durationin:2000;delayin:2500;easingin:linear;scalexin:0;scaleyin:0;offsetxout:0;durationout:2000;easingout:linear;scalexout:0;scaleyout:0;" src="images/ls6a.png" alt="">

                            <h1 class="ls-l" style="top:120px;left:700px;font-weight: 700;font-size:36px;line-height:42px;color:#ffffff;white-space: nowrap;" data-ls="offsetxin:0;offsetyin: top;delayin:3500;offsetxout:-50;durationout:3000;">Vous voulez des produits <br>de tres haute qualité?</h1>

                            <p class="ls-l"  style="top:225px;left:700px;font-weight: 400;font-size:19px; line-height:32px;color:#ffffff;white-space: nowrap;" data-ls="offsetxin:50;delayin:4500;skewxin:-60;offsetxout:-50;durationout:1000;skewxout:-60;">
                                Chez nous à SLB nous misons beaucoup sur la qualité des produits<br>
                                ce qui nous a permis d'avoir une tres bonne reputation <br>
                                parmis nos conccurents .
                            </p>

                            <a href="#" class="ls-l" style="top:350px; left:700px;" data-ls="offsetxin:0;durationin:4000;delayin:5500;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% top 0;offsetxout:0;durationout:1000;rotatexout:90;transformoriginout:50% bottom 0;">
                                <span style="background-color: #fff; border: 1px solid #fff; color:#228798; display:inline-block;font-weight:700; font-size:14px; line-height:15px; vertical-align:top; padding:16px 30px;margin:0 0 20px 0;-webkit-border-radius: 5px 5px;-moz-border-radius: 5px 5px;border-radius: 5px 5px;white-space: nowrap;">
                                   VOIR NOS PRODUITS
                                </span>
                            </a>

                        </div

                    </div>
                    <!--end layerslider -->

                </div>
                <!--end col-md-12-->

            </div>
            <!--end row-->

        </div>
        <!--end container-->

    </section>
    <!--end home_wrapper -->

    <!--begin services-->
    <section id="services">

        <!--begin section-white-->
        <div class="section-white">

            <!--begin container-->
            <div class="container">

                <!--begin row-->
                <div class="row margin-bottom-30">

                    <!--begin col-md-12-->
                    <div class="col-md-12 text-center">
                        <h2 class="section-title">Qui sommes nous  ?</h2>

                        <div class="separator_wrapper">
                            <i class="icon icon-star-two red"></i>
                        </div>

                        <p class="section-subtitle">
                            La SLB est une sociéte burkinabaise qui oeuvre dans l'agrobussiness .<br>
                            Elle travaille depuis 10 ans et elle a acquis une tres grande experience dans le domaine .
                            <br>
                            Elle a reussi à s'entourer d'un grand nombre de clients à cause de la qualité de ses produits .
                        </p>
                    </div>
                    <!--end col-md-12-->

                </div>
                <!--end row-->

                <!--begin row-->
                <div class="row">

                    <!--begin col-md-4-->
                    <div class="col-md-4 service-item">

                        <!--begin popup image -->
                        <div class="popup-wrapper">
                            <div class="popup-gallery">
                                <a class="popup1" href="{{ asset('bundles/slb/img/title_cru.jpg') }}"><img src="{{ asset('bundles/slb/img/title_cru.jpg') }}" class="width-100" alt="pic"><span class="eye-wrapper2"><i class="icon icon-cursor-move eye-icon" style="font-size: 38px;"></i></span></a>
                            </div>
                        </div>
                        <!--end popup image -->

                        <!--begin service-inner-->
                        <div class="service-inner blue">

                            <h3>Vente des produits de cru</h3>

                            <p>Curabitur quas nets lacus nulat iaculis etimusad nisle varius vitae seditum ligulase quiste netsum sequi.</p>

                            <a href="#newsletter" class="btn btn-lg btn-services-blue scrool">Decouvrir Plus!</a>

                        </div>
                        <!--end service-inner-->

                    </div>
                    <!--end col-md-4-->

                    <!--begin col-md-4-->
                    <div class="col-md-4 service-item">

                        <!--begin popup image -->
                        <div class="popup-wrapper">
                            <div class="popup-gallery">
                                <a class="popup1" href="{{ asset('bundles/slb/img/title_cereales.png') }}">
                                <img src="{{ asset('bundles/slb/img/title_cereales.png') }}" class="width-100" alt="pic">
                                <span class="eye-wrapper2">
                                    <i class="icon icon-cursor-move eye-icon" style="font-size: 38px;">
                                    </i>
                                </span>
                                </a>
                            </div>
                        </div>
                        <!--end popup image -->

                        <!--begin service-inner-->
                        <div class="service-inner blue">

                            <h3>Vente de céréales</h3>

                            <p>Curabitur quas nets lacus nulat iaculis etimusad nisle varius vitae seditum ligulase quiste netsum sequi.</p>

                            <a href="#newsletter" class="btn btn-lg btn-services-red scrool">Decouvrir Plus!</a>

                        </div>
                        <!--end service-inner-->

                    </div>
                    <!--end col-md-4-->

                    <!--begin col-md-4-->
                    <div class="col-md-4 service-item">

                        <!--begin popup image -->
                        <div class="popup-wrapper">
                            <div class="popup-gallery">
                                <a class="popup1" href="{{ asset('bundles/slb/img/title_manufacture.jpg') }}"><img src="{{ asset('bundles/slb/img/title_manufacture.jpg') }}" class="width-100" alt="pic"><span class="eye-wrapper2"><i class="icon icon-cursor-move eye-icon" style="font-size: 38px;"></i></span></a>
                            </div>
                        </div>
                        <!--end popup image -->

                        <!--begin service-inner-->
                        <div class="service-inner blue">

                            <h3>Produits Manufacturés</h3>

                            <p>Curabitur quas nets lacus nulat iaculis etimusad nisle varius vitae seditum ligulase quiste netsum sequi.</p>

                            <a href="#newsletter" class="btn btn-lg btn-services-green scrool">Decouvrir Plus</a>

                        </div>
                        <!--end service-inner-->

                    </div>
                    <!--end col-md-4-->

                </div>
                <!--end row-->

            </div>
            <!--end container-->

        </div>
        <!--end section-white-->

    </section>
    <!--end services-->
    <section class="team-section" id="produits">

        <!--begin container-->
        <div class="container">

            <!--begin row-->
            <div class="row margin-bottom-50">

                <!--begin col-md-12-->
                <div class="col-md-10 col-md-offset-1 text-center">
                    <h2 class="section-title white">Nos Produits </h2>

                    <div class="separator_wrapper_white">
                        <i class="icon icon-star-two grey"></i>
                    </div>
                </div>
                <!--end col-md-12-->

            </div>
            <!--end row-->

            <!--begin row-->
            <div class="row">

                <div id="myCarousel" class="carousel carousel1 slide margin-bottom-40" data-interval="false">

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">

                        <div class="item active nosproduits" id="">

                            <!--begin team-item -->
                            <div class="col-md-4 team-item">

                                <!--begin team-popup -->
                                <div class="team-popup">

                                    <h3> Cereales </h3>


                                </div>
                                <!--end team-popup -->

                                <!--begin team_box -->
                                <div class="team-box">

                                    <h3> * Mil </h3>
                                    <h3> * Maïs</h3>
                                    <h3> * Sorgho</h3>
                                    <h3> * Riz</h3>
                                    <h3> * Haricot</h3>

                                </div>
                                <!--end team_box -->

                            </div>
                            <!--end team-item -->

                            <!--begin team-item -->
                            <div class="col-md-4 team-item">

                                <!--begin team-popup -->
                                <div class="team-popup">

                                    <h3> Produits de Cru </h3>


                                </div>
                                <!--end team-popup -->

                                <!--begin team_box -->
                                <div class="team-box">

                                    <h3> * Noix de Cajou </h3>
                                    <h3> * Gingimbre</h3>
                                    <h3> * Sesame</h3>
                                    <h3> * Arachide</h3>
                                    <h3> * ....</h3>

                                </div>
                                <!--end team_box -->

                            </div>
                            <!--end team-item -->

                            <!--begin team-item -->
                            <div class="col-md-4 team-item">

                                <!--begin team-popup -->
                                <div class="team-popup">

                                    <h3> Produits Manufacturés </h3>


                                </div>
                                <!--end team-popup -->

                                <!--begin team_box -->
                                <div class="team-box">

                                    <h3> * Mil </h3>
                                    <h3> * Maïs</h3>
                                    <h3> * Sorgho</h3>
                                    <h3> * Riz</h3>
                                    <h3> * Haricot</h3>

                                </div>
                                <!--end team_box -->

                            </div>
                            <!--end team-item -->


                        </div>

                        <div class="item  nosproduits" >

                            <!--begin team-item -->
                            <div class="col-md-4 team-item">

                                <!--begin team-popup -->
                                <div class="team-popup">

                                    <h3> Cereales </h3>


                                </div>
                                <!--end team-popup -->

                                <!--begin team_box -->
                                <div class="team-box">

                                    <h3> * Mil </h3>
                                    <h3> * Maïs</h3>
                                    <h3> * Sorgho</h3>
                                    <h3> * Riz</h3>
                                    <h3> * Haricot</h3>

                                </div>
                                <!--end team_box -->

                            </div>
                            <!--end team-item -->

                            <!--begin team-item -->
                            <div class="col-md-4 team-item">

                                <!--begin team-popup -->
                                <div class="team-popup">

                                    <h3> Cereales </h3>


                                </div>
                                <!--end team-popup -->

                                <!--begin team_box -->
                                <div class="team-box">

                                    <h3> * Mil </h3>
                                    <h3> * Maïs</h3>
                                    <h3> * Sorgho</h3>
                                    <h3> * Riz</h3>
                                    <h3> * Haricot</h3>

                                </div>
                                <!--end team_box -->

                            </div>
                            <!--end team-item -->

                            <!--begin team-item -->
                            <div class="col-md-4 team-item">

                                <!--begin team-popup -->
                                <div class="team-popup">

                                    <h3> Cereales </h3>


                                </div>
                                <!--end team-popup -->

                                <!--begin team_box -->
                                <div class="team-box">

                                    <h3> * Mil </h3>
                                    <h3> * Maïs</h3>
                                    <h3> * Sorgho</h3>
                                    <h3> * Riz</h3>
                                    <h3> * Haricot</h3>

                                </div>
                                <!--end team_box -->

                            </div>
                            <!--end team-item -->


                        </div>

                    </div>

                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                    </ol>

                </div>

            </div>
            <!--end row-->

        </div>
        <!--end container-->

    </section>
    <!--begin features -->
    <section class="section-grey small-padding-bottom story" id="features">

        <!--begin container-->
        <div class="container">

            <!--begin row-->
            <div class="row margin-bottom-50">

                <!--begin col-md-12-->
                <div class="col-md-12 text-center">
                    <h2 class="section-title">Nos Atouts </h2>

                    <div class="separator_wrapper">
                        <i class="icon icon-star-two red"></i>
                    </div>

                    <p class="section-subtitle">Beaucoup de nos atouts nous permettent<br> d'avoir non seulement la confiance de nos clients, mais aussi  leur satisfaire.</p>
                </div>
                <!--end col-md-12-->

            </div>
            <!--end row-->

            <!--begin row-->
            <div class="row">

                <!--begin col-md-6 col-sm-12-->
                <div class="col-md-6 col-sm-12">

                    <!--begin story-block-->
                    <div class="story-block story-left">

                        <!--begin story-text-->
                        <div class="story-text">

                            <h4>Collaboration avec les producteurs</h4>

                            <p>
                                Nous sommes en etroite collaboration avec les producteurs des differents produits , ce qui nous donne un accés rapide à l'acquisition des produits.
                            </p>

                        </div>
                        <!--end story-text-->

                        <!--begin story-image-->
                        <div class="story-image">

                            <img src="{{ asset('bundles/slb/images/icons/frienship.png') }}" alt="">

                        </div>
                        <!--end story-image-->

                        <span class="story-arrow"></span>

                        <span class="h-line"></span>

                    </div>
                    <!--end story-block-->

                </div>
                <!--end col-md-6 col-sm-12-->

                <!--begin col-md-6 col-sm-12-->
                <div class="col-md-6 col-sm-12">

                    <!--begin story-block-->
                    <div class="story-block story-right">

                        <!--begin story-text-->
                        <div class="story-text">

                            <h4>Mise sur le temps</h4>

                            <p>
                                Gràce à nos moyens de transports et notre politique de fidelisation de clients <br>
                                Nous mettons l'accent sur le temps de livraison des produits
                            </p>

                        </div>
                        <!--end story-text-->

                        <!--begin story-image-->
                        <div class="story-image">

                            <img src="{{ asset('bundles/slb/images/icons/hourglass.png') }}" alt="">

                        </div>
                        <!--end story-image-->

                        <span class="story-arrow"></span>

                        <span class="h-line"></span>

                    </div>
                    <!--end story-block-->

                </div>
                <!--end col-md-6 col-sm-12-->

            </div>
            <!--end row-->

            <!--begin row-->
            <div class="row">

                <!--begin col-md-6 col-sm-12-->
                <div class="col-md-6 col-sm-12">

                    <!--begin story-block-->
                    <div class="story-block story-left">

                        <!--begin story-text-->
                        <div class="story-text">

                            <h4>Faible côut</h4>

                            <p>Nos produits sont à des prix abordables, Moins cher que l'on ne peut en trouver ailleurs.</p>

                        </div>
                        <!--end story-text-->

                        <!--begin story-image-->
                        <div class="story-image">

                            <img src="{{ asset('bundles/slb/images/icons/price.png') }}" alt="">

                        </div>
                        <!--end story-image-->

                        <span class="story-arrow"></span>

                        <span class="h-line"></span>

                    </div>
                    <!--end story-block-->

                </div>
                <!--end col-md-6 col-sm-12-->

                <!--begin col-md-6 col-sm-12-->
                <div class="col-md-6 col-sm-12">

                    <!--begin story-block-->
                    <div class="story-block story-right">

                        <!--begin story-text-->
                        <div class="story-text">

                            <h4>Haute Qualité</h4>

                            <p>
                                Des produits de tres haute qualité ,<br>
                                Nombre de problemes reduits , produits naturels.
                            </p>

                        </div>
                        <!--end story-text-->

                        <!--begin story-image-->
                        <div class="story-image">

                            <img src="{{ asset('bundles/slb/images/icons/guarantee.png') }}" alt="">

                        </div>
                        <!--end story-image-->

                        <span class="story-arrow"></span>

                        <span class="h-line"></span>

                    </div>
                    <!--end story-block-->

                </div>
                <!--end col-md-6 col-sm-12-->

            </div>
            <!--end row-->

            <!--begin row-->
            <div class="row">

                <!--begin col-md-6 col-sm-12-->
                <div class="col-md-6 col-sm-12">

                    <!--begin story-block-->
                    <div class="story-block story-left last">

                        <!--begin story-text-->
                        <div class="story-text">

                            <h4>Well Explained Code</h4>

                            <p>Lorem ipsum dolor sita amet, consectetur elitum suspendise rutrum eleifend arcu situm net amet magni sequi tempor.</p>

                        </div>
                        <!--end story-text-->

                        <!--begin story-image-->
                        <div class="story-image">

                            <img src="{{ asset('bundles/slb/images/icons/icon9.png') }}" alt="">

                        </div>
                        <!--end story-image-->

                        <span class="story-arrow"></span>

                        <span class="h-line"></span>

                    </div>
                    <!--end story-block-->

                </div>
                <!--end col-md-6 col-sm-12-->

                <!--begin col-md-6 col-sm-12-->
                <div class="col-md-6 col-sm-12">

                    <!--begin story-block-->
                    <div class="story-block story-right last">

                        <!--begin story-text-->
                        <div class="story-text">

                            <h4>24/7 Support</h4>

                            <p>Lorem ipsum dolor sita amet, consectetur elitum suspendise rutrum eleifend arcu situm net amet magni sequi tempor.</p>

                        </div>
                        <!--end story-text-->

                        <!--begin story-image-->
                        <div class="story-image">

                            <img src="{{ asset('bundles/slb/images/icons/icon0.png') }}" alt="">

                        </div>
                        <!--end story-image-->

                        <span class="story-arrow"></span>

                        <span class="h-line"></span>

                    </div>
                    <!--end story-block-->

                </div>
                <!--end col-md-6 col-sm-12-->

            </div>
            <!--end row-->

        </div>
        <!--end container-->

    </section>
    <!--end features -->
    <div class="section-testimonials">

        <!--begin container-->
        <div class="container testimonials-wrapper">

            <!--begin row-->
            <div class="row">

                <!--begin col-md-5 -->
                <div class="col-md-5">

                    <!--begin testimonials-info-->
                    <div class="testimonials-info">

                        <img src="{{ asset('bundles/slb/img/issa_kafando.jpg') }}" class="author-pic" alt="John Doe">

                        <p class="author-name">Issa Kafando<br><span>Directeur de SLB</span></p>

                    </div>
                    <!--end testimonials-info-->

                </div>
                <!--end col-md-5 -->

                <!--begin col-md-7 -->
                <div class="col-md-7">

                    <p class="testimonials-text">"Your time is limited, so do not waste it living someone else's life. Don't be trapped by dogma - which is living with the results of other people's thinking."</p>

                </div>
                <!--end col-md-7 -->

            </div>
            <!--end row-->

        </div>
        <!--end container-->

    </div>

    <section id="partenaires">

        <!--begin section-white-->
        <div class="section-white">

            <!--begin container-->
            <div class="container">

                <!--begin row-->
                <div class="row margin-bottom-50">

                    <!--begin col-md-10-->
                    <div class="col-md-10 col-md-offset-1 text-center">
                        <h2 class="section-title">Nos Partenaires et Clients</h2>

                        <div class="separator_wrapper">
                            <i class="icon icon-star-two red"></i>
                        </div>

                    </div>
                    <!--end col-md-10-->

                </div>
                <!--end row-->

                <!--begin row-->
                <div class="row">

                    <!--begin partners-wrapper-->
                    <div class="partners-wrapper">

                        <!--begin col-md-3-->
                        <div class="col-md-3 partners-item">

                            <img src="{{ asset('bundles/slb/images/partner1.png') }}" alt="partner">

                        </div>
                        <!--end col-md-3-->

                        <!--begin col-md-3-->
                        <div class="col-md-3 partners-item">

                            <img src="{{ asset('bundles/slb/images/partner2.png') }}" alt="partner">

                        </div>
                        <!--end col-md-3-->

                        <!--begin col-md-3-->
                        <div class="col-md-3 partners-item">

                            <img src="{{ asset('bundles/slb/images/partner3.png') }}" alt="partner">

                        </div>
                        <!--end col-md-3-->

                        <!--begin col-md-3-->
                        <div class="col-md-3 partners-item last">

                            <img src="images/partner4.png" alt="partner">

                        </div>
                        <!--end col-md-3-->

                        <!--begin col-md-3-->
                        <div class="col-md-3 partners-item no-border-bottom">

                            <img src="{{ asset('bundles/slb/images/partner5.png') }}" alt="partner">

                        </div>
                        <!--end col-md-3-->

                        <!--begin col-md-3-->
                        <div class="col-md-3 partners-item no-border-bottom">

                            <img src="{{ asset('bundles/slb/images/partner4.png') }}" alt="partner">

                        </div>
                        <!--end col-md-3-->

                        <!--begin col-md-3-->
                        <div class="col-md-3 partners-item no-border-bottom">

                            <img src="{{ asset('bundles/slb/images/partner5.png') }}" alt="partner">

                        </div>
                        <!--end col-md-3-->

                        <!--begin col-md-3-->
                        <div class="col-md-3 partners-item no-border-bottom last">

                            <img src="{{ asset('bundles/slb/images/partner2.png') }}" alt="partner">

                        </div>
                        <!--end col-md-3-->

                    </div>
                    <!--end partners-wrapper-->

                </div>
                <!--end row-->

            </div>
            <!--end container-->

        </div>
        <!--end section-white-->

    </section>



    <section class="section-dark" id="contact">

        <!--begin container-->
        <div class="container">

            <!--begin row-->
            <div class="row margin-bottom-50">

                <!--begin col-md-10-->
                <div class="col-md-10 col-md-offset-1 text-center">
                    <h2 class="section-title grey">Nous Contacter</h2>

                    <div class="separator_wrapper_white">
                        <i class="icon icon-star-two grey"></i>
                    </div>

                    <p class="section-subtitle grey">Remplissez juste ce formulaire et envoyez nous un mail <br>have suffered alteration, by injected humour, or new randomised words.</p>
                </div>
                <!--end col-md-10-->

            </div>
            <!--end row-->

            <!--begin row-->
            <div class="row">

                <!--begin success message -->
                <p class="contact_success_box" style="display:none;">We received your message and you'll hear from us soon. Thank You!</p>
                <!--end success message -->

                <!--begin contact form -->
                <form id="contact-form" class="contact" action="php/contact.php" method="post">

                    <!--begin col-md-6-->
                    <div class="col-md-6">
                        <input class="contact-input white-input" required="" name="contact_names" placeholder="Full Name*" type="text">
                        <input class="contact-input white-input" required="" name="contact_email" placeholder="Email Adress*" type="email">
                        <input class="contact-input white-input" required="" name="contact_phone" placeholder="Phone Number*" type="text">

                    </div>
                    <!--end col-md-6-->
                    <div class="col-md-6">
                        <textarea class="contact-commnent white-input" rows="2" cols="20" name="contact_message" placeholder="Your Message..."></textarea>
                    </div>
                    <!--begin col-md-6-->

                    <!--end col-md-6-->

                    <!--begin col-md-12-->
                    <div class="col-md-12">
                        <input value="Send Message" id="submit-button" class="contact-submit" type="submit">
                    </div>
                    <!--end col-md-12-->



                </form>
                <!--end contact form -->

            </div>
            <!--end row-->

        </div>
        <!--end container-->

    </section>
    <!--end contact-->

    <!-- maps -->
    <div class="section-grey" style="padding: 0;">

        <div id="map_canvas">

        </div>

        <style>

            #map_canvas {
                height: 400px;
            }
        </style>


    </div>
    <!-- end maps -->
    <div class="section-grey sponsors-padding">



        <!--begin container-->
        <div class="container">


            <!--begin row-->
            <div class="row text-center ">

                <!--begin col-sm-12-->
                <div class="col-md-4">
                    <div class="media">
                        <div class="media-left">
                            <img src="{{ asset('bundles/slb/images/icons/home.png') }}" alt="">
                        </div>
                        <div class="media-body media-middle">
                            Ouagadougou: Rue de l'armée , non loin de Onea citée AN3
                            <br>
                            Bobo Dioulasso : Rue de l'aeroport à 500 m de la Brakina.
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="media">
                        <div class="media-left">
                            <img src="{{ asset('bundles/slb/images/icons/maps.png') }}" alt="">
                        </div>
                        <div class="media-body media-middle">
                            01 BP 2715 BOBO DIOULASSO 02 <br>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="media">
                        <div class="media-left">
                            <img src="{{ asset('bundles/slb/images/icons/phone.png') }}" alt="">
                        </div>
                        <div class="media-body media-middle">
                            TEL: +226 63121212 <br>
                        </div>
                    </div>
                </div>
                <!--end col-sm-12-->

            </div>
            <!--end row-->

        </div>
        <!--end container-->

    </div>



    {% block footer %}

        <!--begin footer -->
        <div class="footer">

            <!--begin container -->
            <div class="container">

                <!--begin row -->
                <div class="row">

                    <!--begin col-md-12 -->
                    <div class="col-md-12 text-center">

                        <!--begin copyright -->
                        <div class="copyright">
                            <p>Copyright © 2016 slb. Designed by <a href="http://themeforest.net/user/bogdan_09/portfolio?ref=bogdan_09" target="_blank">YENTECK</a></p>

                        </div>
                        <!--end copyright -->

                        <!--begin footer_social -->
                        <ul class="footer_social">
                            <li>
                                <a href="#">
                                    <i class="icon icon-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon icon-pinterest"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon icon-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon icon-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon icon-skype"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon icon-dribble"></i>
                                </a>
                            </li>
                        </ul>
                        <!--end footer_social -->

                    </div>
                    <!--end col-md-6 -->

                </div>
                <!--end row -->

            </div>
            <!--end container -->

        </div>
        <!--end footer -->
    {% endblock %}





{% endblock body %}

{% block javascripts %}
    <!-- Load JS here for greater good =============================-->
    {{ parent() }}

{% endblock javascripts %}